.banner-card{
    width: 100%;
    height: auto;
    top: -200px;
}
.banner-card img{
    width: 100%;
}
.banner-card{
    position: relative;
}
.banner-content{
    position: absolute;
    top: 30%;
    color: aliceblue;
    padding: 10px;
    left: 60%;
    font-size: 40px;
}
.actor img{
    align-items: end;
    width: 30%;
    position: absolute;
    top: 0;
    left: 20%;
    margin-top: 100px;
}